@import "tailwindcss";

body {
  font-family: var(--poppins), sans-serif;
  background: #1a1b1c;
  color: #ffffff;
}

.poppins {
  font-family: var(--poppins), sans-serif;
}

.fredoka {
  font-family: var(--fredoka), sans-serif;
}

.rubik {
  font-family: var(--rubik), sans-serif;
}

.capey-text {
  @apply text-4xl font-bold absolute top-1/4 right-1/3;
  animation: slideInTop ease 1000ms;
}

@keyframes slideInTop {
  0% {
    top: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.capes {
  @apply rounded-lg mt-208 self-center bg-black w-[60%] h-fit min-h-96 flex flex-wrap justify-between gap-4 p-4;
}

.cape {
  @apply rounded-lg p-2 flex items-center flex-col gap-2;
  flex: 0 0 10%;
  transition: transform 100ms ease, background-color 100ms ease;
}

.cape:hover {
  transition: transform 500ms ease, background-color 100ms ease;
  transform: scale(1.03);
  background-color: #211a1d;
}